//Gilligan Contracting Stylesheet

$og-green: #7AAB36;
$yellow: #ffc72cff;
$lt-green: #a6bf36ff;
$og-green: #7aab36ff;
$drk-green: #6e943dff;
$black-txt: #524d47ff;
$gray-txt: #726a68ff;

//Style the little special quote marks
.quote-block blockquote > span:first-child {
  float: left !important;
  display: block;
  //opacity: 1.0;
  font-family: "LTC Bodoni 175", "Times New Roman", serif !important;
  //font-size: 2em !important;
  //color: #2D1894 !important;
  position: absolute; left: 20px; top: 20px;
  //padding: 10px;
}

//Style the quote source line
.quote-block .source { 
  font-size: 0.7em;
  font-style: normal;
  font-weight: 400;
  text-align: right;
}

//Footnotes
.footnote {
  font-size: 0.7em;
}

//Styling for Going Green page
.going-green {
	text-align: center;
}

h3.going-green {
  font-style:italic;
}

.green-highlight {
  color: $og-green;
}

//Body Text
p { text-align: justified; }

//History Page
#h3-history {
  text-align: center;
  color: $og-green;
}
