/* Coolors Exported Palette - https://coolors.co/ffc72c-a6bf36-7aab36-6e943d-524d47-726a68 */

/* HSL */
$color1: hsla(44%, 83%, 100%, 1);
$color2: hsla(71%, 72%, 75%, 1);
$color3: hsla(85%, 68%, 67%, 1);
$color4: hsla(86%, 59%, 58%, 1);
$color5: hsla(33%, 13%, 32%, 1);
$color6: hsla(12%, 9%, 45%, 1);

/* RGB */
$color1: rgba(255, 199, 44, 1);
$color2: rgba(166, 191, 54, 1);
$color3: rgba(122, 171, 54, 1);
$color4: rgba(110, 148, 61, 1);
$color5: rgba(82, 77, 71, 1);
$color6: rgba(114, 106, 104, 1);

/* HEX */
$color1: #ffc72cff;
$color2: #a6bf36ff;
$color3: #7aab36ff;
$color4: #6e943dff;
$color5: #524d47ff;
$color6: #726a68ff;

/* GRADIENT */
$gradient-top: linear-gradient(0deg, #ffc72cff, #a6bf36ff, #7aab36ff, #6e943dff, #524d47ff, #726a68ff);
$gradient-right: linear-gradient(90deg, #ffc72cff, #a6bf36ff, #7aab36ff, #6e943dff, #524d47ff, #726a68ff);
$gradient-bottom: linear-gradient(180deg, #ffc72cff, #a6bf36ff, #7aab36ff, #6e943dff, #524d47ff, #726a68ff);
$gradient-left: linear-gradient(270deg, #ffc72cff, #a6bf36ff, #7aab36ff, #6e943dff, #524d47ff, #726a68ff);
$gradient-top-right: linear-gradient(45deg, #ffc72cff, #a6bf36ff, #7aab36ff, #6e943dff, #524d47ff, #726a68ff);
$gradient-bottom-right: linear-gradient(135deg, #ffc72cff, #a6bf36ff, #7aab36ff, #6e943dff, #524d47ff, #726a68ff);
$gradient-top-left: linear-gradient(225deg, #ffc72cff, #a6bf36ff, #7aab36ff, #6e943dff, #524d47ff, #726a68ff);
$gradient-bottom-left: linear-gradient(315deg, #ffc72cff, #a6bf36ff, #7aab36ff, #6e943dff, #524d47ff, #726a68ff);
$gradient-radial: radial-gradient(#ffc72cff, #a6bf36ff, #7aab36ff, #6e943dff, #524d47ff, #726a68ff);