/* Coolors Exported Palette - coolors.co/ff9f1c-ffbf69-ffffff-cbf3f0-2ec4b6 */

/* HSL */
$color1: hsla(35%, 100%, 55%, 1);
$color2: hsla(34%, 100%, 71%, 1);
$color3: hsla(0%, 0%, 100%, 1);
$color4: hsla(176%, 63%, 87%, 1);
$color5: hsla(174%, 62%, 47%, 1);

/* RGB */
$color1: rgba(255, 159, 28, 1);
$color2: rgba(255, 191, 105, 1);
$color3: rgba(255, 255, 255, 1);
$color4: rgba(203, 243, 240, 1);
$color5: rgba(46, 196, 182, 1);